@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewData["Title"] = "Index";
}

<h1>The Latest Reviews</h1>

@section featured{
    We are showing the lastest @Model.Count() reviews.

}


@foreach (var item in Model)
{

    <div class="review">
        <h4>@item.Name</h4>
        <span>@item.Rating</span>
        <p>@item.City,@item.Country</p>
    </div>
}


<p>
    <a asp-action="Create">Create New</a>
</p>
